<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll Rice</title>
</head>
<body>
    <h1>Rolldice Value: <%= value %> </h1>
    <% if(value == 6) { %>
        <h2>Wow! Roll again</h2>
    <% } %>
</body>
</html>