<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>My Profile</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat vel, quos, laudantium ratione commodi, perferendis consequatur excepturi quaerat cupiditate voluptates numquam debitis quas culpa voluptatum dolor nulla perspiciatis. Numquam, autem?
    Animi eius sequi error in vel mollitia deleniti laborum suscipit et temporibus! Recusandae repudiandae officiis deleniti aperiam commodi corporis quibusdam quod nesciunt, velit totam labore dolor vel praesentium? Dicta, tempora!</p>

    <button>Click me!</button>
</body>
</html>