<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instargam Profile</title>
</head>
<body>
    <h1>Profile</h1>
    <h3>Hello & Welcome @<%= username %> </h3>
    <button>Follow</button>
    <button>Massage</button>
</body>
</html>