h1 {
    color: brown;
}

.post-details {
    background-color: lightblue;
}

.username {
    font-style: italic;
}

.new-post {
    text-decoration: none;
    background-color: antiquewhite;
    color: rgb(45, 45, 45);
    padding: 4px 8px;

    border-radius: 10px;
    border: 1px solid black;
    font-weight: bold;
    margin-top: 10px;
}

a {
    text-decoration: none;
}

.edit-btn {
    margin-left: 20px;
}

.delete-btn {
    background-color: transparent;
    border: none;
    color: red;
}