* {
    font-family: poppins;
    margin: 0;
    padding: 0;
}

.box-home {
    height: 100vh;
    width: 100vw;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: brown;
}

.post-details {
    background-color: lightblue;
    /* margin-bottom: 20px; */
    margin: 0 20px 20px 20px;
    padding: 5px 10px;
    /* width: fit-content; */
}

.username {
    font-style: italic;
}

.new-post {
    text-decoration: none;
    background-color: antiquewhite;
    color: rgb(45, 45, 45);
    padding: 4px 8px;

    border-radius: 10px;
    border: 1px solid black;
    font-weight: bold;
    margin-top: 10px;
}

a {
    text-decoration: none;
}

.edit-btn {
    margin-left: 20px;
}

.delete-btn {
    background-color: transparent;
    border: none;
    color: red;
}