<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myPost</title>

    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>myPost.com</h1>

    <% for(post of posts) { %>
        <div class="post">
            <h3 class="username"> @<%= post.username %> </h3>
            <h4 class="content"> <%= post.content %> </h3>
            <a href="http://localhost:3015/posts/<%=post.id%>" class="see-more">See more</a>
            <a href="http://localhost:3015/posts/<%=post.id%>/edit" class="edit-btn">Edit</a>
        </div>
    <% } %>

    <br>
    <a href="http://localhost:3015/posts/new" class="new-post">Add new Post</a>
</body>
</html>