<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Data</title>
</head>
<body>
    
    <h1>Student Data</h1>

    <% for(let student of students) { %>

        <div>Name: <%= student.name %></div>
        <div>age: <%= student.age %></div>
        <div>City: <%= student.city %></div>

        <hr>

    <% } %>

    <form action="/students/new" method="get">
        <button type="submit">Create New</button>
    </form>
</body>
</html>