<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myChat</title>
</head>
<body>
    <h1>myChat.com</h1>
    
    <% for(let chat of chats) { %>
        <div class="chatbox">
            <p>From: <%= chat.from %> </p>

            <div class="msg">
                <p>Massage: <%= chat.msg %> </p>
            </div>

            <p>Recived by: <%= chat.to %></p>
        </div>
    <% } %>

</body>
</html>
