<div style="background-color:darkblue; color: white; display: flex; position: absolute; bottom: 0px; width: 100vw; height: 40px; gap: 20px;">
    <p style="margin-left: 20px;">about</p>
    <p>account</p>
    <p>report</p>
    <p>help</p>
</div>